.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* ------------------------------------------------------ */
/* HTML COMPONENTS */
/* -- Button -- */

.button,
.button--sm {
  background: transparent;
  color: var(--clr-blue);

  border: 1.5px solid var(--clr-blue);
  border-radius: 10px;

  width: 100%;
  margin: 0.75em auto;
  padding: 1.15em;

  font-weight: 700;

  cursor: pointer;
  position: relative;

  transition: all 250ms ease;
}

.button--sm {
  width: 50%;

  margin: 0 auto;
  padding: 0.25em;

  border-radius: 5px;
}

.button span {
  position: relative;
}

.button span::after {
  content: "";

  background-image: url("./assets/right-arrow-blue.svg");
  background-size: contain;
  background-repeat: no-repeat;

  position: absolute;
  top: 50%;
  right: -14px;
  transform: translate(50%, -50%);

  width: 10px;
  height: 12px;

  transition: all 250ms ease;
}

.button:hover,
.button--sm:hover {
  color: var(--clr-white);
  border: 1.5px solid var(--clr-white);
}

.button:hover span::after {
  background-image: url("./assets/right-arrow-white.svg");
  right: -18px;
}

.button--filled {
  background: var(--clr-blue);
  color: var(--clr-text);
  border: 1px solid transparent;
}

.button--filled span::after {
  background-image: url("./assets/right-arrow-white.svg");
}

.button--filled:hover {
  border: 1px solid transparent;
}
